body {
}

/////////////////////////////////////////////////////////////////////////////
//////////////////////////////IMAGENES DE FONDO//////////////////////////////
/////////////////////////////////////////////////////////////////////////////

#contenedor {
    display: inline-block;
    width: 100%;
    position: relative;
}

#predial1 {
    width: 49%;
    //background-image: url("../img/predial1.svg");
    //height: 100%;
    //display: inline-block;
}

#predial2 {
    width: 49%;
    //background-image: url("../img/predial3.svg");
    //height: 100%;
    //display: inline-block;
}


/////////////////////////////////////////////////////////////////////////////
//////////////////////////DETALLES DEL CIUDADANO(A)//////////////////////////
/////////////////////////////////////////////////////////////////////////////

#nombre {
    position: absolute;
    left: 59%;
    top: 17.5%;
    font-size: 20px;
}

#direccion {
    position: absolute;
    left: 59%;
    top: 22%;
    font-size: 20px;
}

#clave {
    position: absolute;
    left: 61%;
    top: 27%;
    font-size: 20px;
}

#fecha {
    position: absolute;
    left: 63%;
    top: 32%;
    font-size: 20px;
}

/////////////////////////////////////////////////////////////////////////////
////////////////////////////DETALLE DE MI CUENTA/////////////////////////////
/////////////////////////////////////////////////////////////////////////////

#corriente {
    position: absolute;
    left: 71%;
    top: 46%;
    font-size: 16px;
}

#adicional {
    position: absolute;
    left: 71%;
    top: 49.5%;
    font-size: 16px;
}

#recargos {
    position: absolute;
    left: 71%;
    top: 53%;
    font-size: 16px;
}

#rezagos {
    position: absolute;
    left: 71%;
    top: 56.5%;
    font-size: 16px;
}

#adicionalRezago {
    position: absolute;
    left: 71%;
    top: 59.5%;
    font-size: 16px;
}

#recargoRezago {
    position: absolute;
    left: 71%;
    top: 63%;
    font-size: 16px;
}

#multa {
    position: absolute;
    left: 71%;
    top: 66.5%;
    font-size: 16px;
}

#honorario{
    position: absolute;
    left: 71%;
    top: 69.5%;
    font-size: 16px;
}

#ejecucion {
    position: absolute;
    left: 71%;
    top: 73%;
    font-size: 16px;
}

#descuento {
    position: absolute;
    left: 71%;
    top: 76.5%;
    font-size: 16px;
}

#diferenciaConstruccion {
    position: absolute;
    left: 71%;
    top: 79.5%;
    font-size: 16px;
}

#total {
    position: absolute;
    left: 83%;
    top: 58%;
    font-size: 25px;
}

#fechaVencimientoTxt {
    position: absolute;
    left: 83%;
    top: 85%;
    font-size: 20px;
    background-color: white;
}
/////////////////////////////////////////////////////////////////////////////
/////////////////////////¿HASTA CUÁNDO DEBO PAGAR?///////////////////////////
/////////////////////////////////////////////////////////////////////////////

#fechaVencimiento {
    position: absolute;
    left: 86%;
    top: 109%;
    font-size: 20px;
}

#lineaCaptura {
    position: absolute;
    left: 65%;
    top: 95%;
    font-size: 20px;
    background-color: white;
}

#total2 {
    position: absolute;
    left: 83%;
    top: 115%;
    font-size: 25px;
}
#referenciaOxxo {
   visibility: hidden;
}

#contenedorCodigoBarra {
    text-align: center;
    position: absolute;
    left: 78%;
    top: 130%;
}